# =========================
# Jekyll
# =========================
_site/
.sass-cache/
.jekyll-cache/
.jekyll-metadata

# =========================
# Ruby / Bundler
# =========================
.bundle/
vendor/
Gemfile.lock

# =========================
# Logs
# =========================
*.log

# =========================
# Windows
# =========================
Thumbs.db
Desktop.ini

# =========================
# VS Code 
# =========================
.vscode/

# =========================
# Node
# =========================
node_modules/
